.section-brand{
    min-height: 146px;
    display: flex;
    background-color: #13131a;
    align-items: center;
}

.div-brand{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.brands-img{
 
}

@media (max-width: 768px){
    .div-brand{
        justify-content: space-between;
    }
}