
.btn-up{
    background-color: #4646ab;
    width: 3rem;
    height: 3rem;
    color: #ffff;
    border-radius: 100%;
    position: fixed;
    right: 40px;
    bottom: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all;
    border: none;
}

.btn-up:hover{
    background-color: #9696ee;
}

.btn-icon{
    width: 1.5rem;
    height: 1.5rem;
}
