.navList{
    display: flex;
    margin-left: 2rem; 
    text-transform: capitalize;
    font-size: 15px;
}

.navLi{
    color: #ffff;
    margin: 10px 20px;
    list-style: none;
}

.navLi:hover{
    color: #4646ab;
    cursor: pointer;

}

.navLink{
    transition-property: all; 
    transition-duration: 300ms;
    font-size: 16px;
}