.nav-container{
    position: relative;
}

.nav-div{
    cursor: pointer;
    color: #fff;
}

.menu-icon{
    width: 2rem; 
    height: 2rem;  
    position: relative;    
    z-index: 1;  
    padding: 2em;     
    margin: -2em;   
}

.menu-iconN{
    display: none;
}

.motion-div{
    width: 1rem;
    height: 1rem;
    border-radius: 9999px;
    background-color: #4646ab;
    position: fixed;
    top: 0px;
    right: 0px;
    
}

.motion-ulA{
    right: 0px;
    position: fixed;
    top: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition-property: all;
    transition-duration: 300ms;
    overflow: hidden;
    width: 100%;
}

.motion-ulI{
    
    position: fixed;
    top: 0px;
    bottom: 0px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition-property: all;
    transition-duration: 300ms;
    overflow: hidden;
    width: 100%;
  
}


.close-icon{
    cursor: pointer;
    position: absolute;
    top: 2rem;
    right: 2rem;
}

.xicon{
    width: 2rem;
    height: 2rem;
}

.navigation-li{
    margin-bottom: 2rem; 
    list-style: none;
    
}

.link-li{
    font-size: 1.25rem;
    line-height: 1.75rem; 
    text-transform: capitalize;
    cursor: pointer;
}