
.portfolio-section{
    background-color: black;
    
}

.portfolio-div1{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 50px;
    margin-bottom: 40px;

}

.portfolio-h2{
    color: #ffff;
    font-size: 50px;

}

.portfolio-p{
    font-size: 20px;
    color: #a49d9d;
}